[Unit]
Description=kiln-controller

[Service]
ExecStart=/home/bigred/TheKilnGod/venv/bin/python /home/bigred/TheKilnGod/kiln-controller.py

[Install]
WantedBy=multi-user.target
